<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="{{url_for('static', filename='scripts/index.js')}}"></script>
    <title>Randomizador</title>
  </head>
  <body>
    <h1>Você está no randomizador</h1>
    <h2>Deseja remover algum ingrediente?</h2>
    <form>
      <input type="radio" value="yes" />
      <label for="yes">Sim</label>
      <input type="radio" value="no" />
      <label for="no">Não</label>
      <h2>Deseja escolher a quantidade de vegetais?</h2>
      <label for="yes">Sim</label>
      <input type="radio" value="no" />
      <label for="no">Não</label>
      <br />
      <button>
        <a href="results"> Criar </a>
      </button>
    </form>
  </body>
</html>
